header {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.logo img {
  filter: brightness(100%);
}

.nav-list ul {
  display: flex;
  margin: 0px;
}

.nav-list ul li {
  list-style-type: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.bottom-border::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ee6e5d;
  transition: width 0.3s;
}

.bottom-border:hover::after {
  width: 100%;
}

.search-icons {
  display: flex;
  align-items: center;
}

.search-bar {
  height: 32px;
  border-radius: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.11);
  justify-content: center;
  align-items: center;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
}

.fa-solid {
  padding: 0px 0px 0px 10px;
}

.add-to-cart {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.cart-user-icon .badge {
  position: absolute;
  top: -2px;
  right: 13px;
  border-radius: 50%;
  background: red;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.cart-user-icon {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.usericon {
  padding: 5px;
}
