<div class="content">
    <div [ngClass]="{'cards': filterData?.length > 0}" *ngIf="!isLoding || filterData?.length > 0">
        <div class="card" style="width: 15rem;" *ngFor="let electronics of filterData" >
            <img [routerLink]="'/product/detail/' + electronics['_id']" class="card image w-100 h-70" [src]="electronics['productImage']" alt="Card image cap">
            <div class="rating">
                <span class="rating-number">{{electronics['productRating']}}</span>
                  <span class="fa fa-star" [ngClass]="{'checked':electronics['ratings'] >= 1}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked':electronics['ratings'] >= 2}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked':electronics['ratings'] >= 3}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked':electronics['ratings'] >= 4}"></span>
                  <span class="fa fa-star" [ngClass]="{'checked':electronics['ratings'] >= 5}"></span>
            </div>

            <div class="card-body">
              <p class="card-text" [routerLink]="'/product/detail/' + electronics['_id']">{{electronics['productDescription']}}<p>
            </div>
            <div class="price">
                <span class="price-symbol">₹</span>
                <span class="price-whole">{{electronics['productPrice']}}</span>
            </div>
            <div>
                <button [disabled]="electronics.isDisabled" type="button" class="btn add-to-cart" (click)="addToCart(electronics)"><div [ngClass]="{'loader':electronics['isLoding']}">{{!electronics['isLoding'] ? 'Add To Cart' : '' }}</div></button>
            </div>
          </div>
    </div>
</div>

<div *ngIf="isLoding || filterData?.length == 0 " class="skeleton-loader">
    <app-skeleton-loader *ngFor="let card of cards"></app-skeleton-loader>
</div>

<!-- <input type="file" (input)="inputFile($event)"> -->

